@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

body{
	margin:0;
    font-family: 'Poppins', sans-serif;
}
*{
	  box-sizing: border-box;
	  margin:0;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.container{
	max-width:1140px;
	margin:auto;
}
header .row{
	justify-content: space-between;
	align-items: center;
}
header .brand a{
	text-decoration: none;
	font-size:40px;
	font-weight:600;
	color:black;
}
header .nav{
}
header .nav ul{
	list-style:none;
	padding:0;
	margin:0;
}
header .nav ul li{
	display: inline-block;
	margin-left:40px
}
header .nav ul li a{
	font-size:25px;
	text-decoration:none;
	line-height:72px;
	color:black;
	font-weight:600;
	position: relative;
}
header .nav ul li a.active::before{
	content:'';
	height: 3px;
	background:black;
	width:100%;
	position:absolute;
	left:0px;
	top:100%;
	bottom:-1px;
}

header{
	position:absolute;
	left:0px;
	right:0px;
	border-bottom:1px solid black;
	padding: 0px 15px;
	z-index:10; 
}
.home{
	min-height:100vh;
	background-image: url('rasel.jpg');
	background-size: cover;
	background-position:center;
}
.home .full{
	min-height:100vh;
}
.home .home-content{
	flex:0 0 100%;
	max-width:100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.home .home-content .block{
	flex:0 0 75%;
	max-width:75%;
	padding-left:35px;
	border-left:5px solid black;
}
.home .home-content .block h4{
	font-size:30px;
	font-weight:500;
	margin:0;
	padding:0;
}
.home .home-content .block h1{
	font-size:70px;
	font-weight:600;
}

.about-me{
	padding: 100px 15px;
	background-color:#ffffff;
}
.about-me .section-title{
	flex: 0 0 100%;
	max-width:100%;
	margin-bottom:40px;
}
.about-me .section-title h1{
	display:inline-block;
	font-size:35px;
	font-weight:700;
	margin:0;
	color:#000000;
	border-bottom:2px solid #febd01;
	bottom: 0px;
	margin: 0px 0px 5px;
}
.about-me .section-title p.small{
	display:block;
	font-size:14px;
	color:#838383;
	font-weight:400px;
	letter-spacing:2px;
}
.about-me .about-content .img{
	flex:0 0 33.33%;
	min-width: 33.33%;
}
.about-me .about-content .img img{
	width:100%;
	display:block;
}
.about-me .about-content .text{
	
	flex:0 0 66.66%;
	min-width: 66.66%;
	padding-left:30px;
}
.about-me .about-content .text h4{
	font-size:25px;
	font-weight:600px;
	margin:0 0 5px;
}
.about-me .about-content .text h6 {
	font-size:18px;
	font-weight:400px;
	margin:0 0 15px;
}
.about-me .about-content .text h6 span{
	color:#febd01;
}
.about-me .about-content .text p{
	font-size:15px;
	font-weight:400;
	line-height:24px;
	color:#838383;
	margin:0 0 20px;
}
.about-me .about-content .text .info{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.about-me .about-content .text .info .list{
	margin-top:10px;
	flex:0 0 calc(50% - 15px);
	max-width:calc(50% - 15px);
	display:flex;
	flex-wrap:wrap;
	border-bottom:1px solid #d5d5d5
}
.about-me .about-content .text .info .list label{
	padding-right:10px;
	font-weight:600;
	font-size:15px;
}
.about-me .about-content .text .info .list p{
	margin:0;
	
}

.contact{
	padding:100px 15px;
	background-color:#f5f8fd;
}
.contact .section-title h1{
	left:30%;
	border-bottom:2px solid black;
	margin-bottom:20px;
}
.contact .contact-form{
	background-color:#ffffff;
	flex: 0 0 100%;
	max-width:100%;
	border:1px solid #eeeeee;
	border-radius:4px;
}
.contact .contact-form .text{
	flex: 0 0 100%;
	max-width:100%;
	padding-bottom:20px;
}
.contact .contact-form .text h2{
	font-size:25px;
	font-weight:600;
}
.contact .contact-form .space-between{
	justify-content:space-between;
}
.contact .contact-form .col{
	flex:0 0 calc(50% - 15%);
	max-width:calc(50% - 15%);
}
.contact .contact-form .col-2{
	flex:0 0 100%;
	max-width:100%;
}
.contact .contact-form .form{
	height:45px;
	width:100%;
	margin-bottom:15px;
	border:1px solid #eeeeee;
	padding:6px 12px;
	font-size:14px;
	font-weight:400;
}
.contact .contact-form textarea.form{
	height:140px;
}
.contact .contact-form .button a{
	border-radius:4px;
	color:#ffffff;
	background-color:#febd01;
	border:1px solid #black;
	padding:12px 25px;
	text-decoration:none;
	font-weight:600;
}
.contact .contact-form .button a:hover{
	background-color:#000000;
	color:#ffffff;
}